<div class="main-container">
  <!-- MIDDLE-CONTAINER -->
  <div class="middle-container container">
    <div class="profile block">
      <!-- PROFILE (MIDDLE-CONTAINER) -->
      <div class="profile-picture big-profile-picture clear">
        <img width="150px" alt="Anne Hathaway picture"
          src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg">
      </div>
      <h1 class="user-name">{{username}}</h1>
      <div class="profile-description">
        <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
      </div>
    </div>
  </div>
</div> <!-- end main-container -->