<div class="main-container">
  <!-- LEFT-CONTAINER -->
  <div class="left-container container">
    <div class="menu-box block">
      <!-- MENU BOX (LEFT-CONTAINER) -->
      <h2 class="titular">MENU BOX</h2>
      <ul class="menu-box-menu">
        <li>
          <a class="menu-box-tab" href="#6"><span class="icon fontawesome-envelope scnd-font-color"></span>Messages
            <!-- <div class="menu-box-number">24</div> -->
          </a>
        </li>
        <li>
          <a class="menu-box-tab" href="#8"><span class="icon entypo-paper-plane scnd-font-color"></span>Invites
            <!-- <div class="menu-box-number">3</div> -->
          </a>
        </li>
        <li>
          <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Events
            <!-- <div class="menu-box-number">5</div> -->
          </a>
        </li>
        <li>
          <a class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>Account Settings</a>
        </li>
        <li>
          <a class="menu-box-tab" href="#13">
            <span class="icon entypo-chart-line scnd-font-color"></span>Statistics
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- MIDDLE-CONTAINER -->
  <div class="middle-container container">
    <div class="profile block">
      <!-- PROFILE (MIDDLE-CONTAINER) -->
      <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
      <div class="profile-picture big-profile-picture clear">
        <img width="150px" alt="Anne Hathaway picture"
          src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg">
      </div>
      <h1 class="user-name">{{content}}</h1>
      <div class="profile-description">
        <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
      </div>
    </div>
  </div>

  <!-- RIGHT-CONTAINER -->
  <div class="right-container container">
    <div class="loading block">
      <!-- LOADING (RIGHT-CONTAINER) -->
      <div class="progress-bar downloading"></div>
      <p><span class="icon fontawesome-cloud-download scnd-font-color"></span>Downloading...</p>
      <p class="percentage">81<sup>%</sup></p>
      <div class="progress-bar uploading"></div>
      <p><span class="icon fontawesome-cloud-upload scnd-font-color"></span>Uploading...</p>
      <p class="percentage">43<sup>%</sup></p>
    </div>
  </div> <!-- end right-container -->
</div> <!-- end main-container -->