<form ngFor="let d of data">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title" name="title" [(ngModel)]="data.title">
    <label for="text">Text</label>
    <textarea type="text" class="form-control text" id="text" placeholder="Text" name="text"
        [(ngModel)]="data.text"></textarea>
    <div class="form-group">
        <br>
        <input type="file" (change)="onFileChanged($event)">
        <img [src]="imgURL " height="200" width="200" *ngIf="imgURL">
    </div>
    <br><br>
    <button type="button" class="btn btn-success" (click)="updateFood()">Update</button>
    <button type="button" class="btn btn-danger" (click)="deleteFood()">Delete</button>
</form>